.App {
  color: rgba(255, 255, 255);
  float: initial;
}
.App-main {
  min-height: 100%;
  font-size: 1.2em;
  width: 23em;
  margin:7% auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}