@charset 'utf-8';
body {
  color: rgba(255, 255, 255);
  font: 1.1rem Menlo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: default;
  background-color: #252525;
}
pre {
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #38a8e0;
}

a:visited {
  text-decoration: none;
}
.time {
  text-align: center;
}

.menu {
  font-size: 1.2em;
  margin: 2% 0% 0 73%;
  height: 0px;
  flex-direction: row;
  display:inline-flexbox;
}
.ghbtn {
  width: auto;
  height: auto;
  padding-top: 2%;
}
svg {
  height: 1.5em;
  padding-top:4%;
  margin-left: 1em;
  margin-right: -1em;
  margin-bottom:-1%;
}