/* swiss theme */

.reactmd {
  color: rgba(255, 255, 255);
  font-family: 'Menlo', Helvetica, Arial, Freesans, clean, sans-serif;
  padding:1rem;
  line-height: 1.3;
  max-width:42em;
  margin:3% auto;
  background-color: #252525;
}
.reactmd img {
  display: block;
  margin: auto;
	max-width: 100%;
}

.reactmd table {
	border-collapse: collapse;
	width: 100%;
}

.reactmd table, .reactmd th, .reactmd td {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #F8F8F8;
}

.reactmd h1, .reactmd h2, .reactmd h3, .reactmd h4, .reactmd h5, .reactmd h6 {
  color: #fff;
  font-weight: bold;  
}

.reactmd h1 {
  font-size: 28px;
}

.reactmd h2 {
  border-bottom: 1px solid #CCCCCC;
  font-size: 24px;
}

.reactmd h3 {
  font-size: 18px;
}

.reactmd h4 {
  font-size: 16px;
}

.reactmd h5 {
  font-size: 14px;
}

.reactmd h6 {
  color: #777777;
  background-color: inherit;
  font-size: 14px;
}

.reactmd hr {
  height: 1px;
  border: 0;
  color: #CCCCCC;
  background-color: #CCCCCC;
}

.reactmd p, .reactmd blockquote, .reactmd ul, .reactmd ol,
.reactmd dl, .reactmd li, .reactmd table, .reactmd pre {
  margin: 15px 0;
}

.reactmd code, .reactmd pre {
  border-radius: 2px;
  color: #EAEAEA;
}

.reactmd code {
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0 5px;
}

.reactmd pre {
  border: 1px solid #ffffff00;
  background-color: #181818;
  line-height: 1.25em;
  display: block;
  padding: 6px 10px;
}

.reactmd pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}

.reactmd a, .reactmd a:visited {
  color: #38a8e0;
  background-color: inherit;
  text-decoration: none;
}
